@font-face {
  font-family: 'RobotoThin';
  src: url('./media/roboto.light.ttf');
}

h2 {
  font-weight: 200;
  font-family: 'RobotoThin';
  margin: 0;
}

.main {
  width: 100vw;
  height: 100vh;
  background: url('./media/city.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.current_date {
  height: 38%;
  width: 100%;
}

.current_time {
  height: 24%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.13);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.current_stock {
  height: 38%;
  width: 100%;
}

.date_display {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.date_info {
  width: auto;
  display: flex;
  justify-content: space-between;
  padding: 26px;
}

.date_numeric {
  background: linear-gradient(20deg, #b5637b, #cc9da3);
  border: 6px solid #a4656e;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 3px white;
  padding: 6px 16px;
}

.date_alphabetic {
  margin-left: 10px;
  color: rgba(66, 66, 66, 0.685);
}