@font-face {
  font-family: 'RobotoThin';
  src: url('./media/roboto.light.ttf');
}

h2 {
  font-weight: 200;
  font-family: 'RobotoThin';
  margin: 0;
}

.main {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, rgba(255, 108, 108, 0.253) 0%, rgba(255,180,180,0.2091211484593838) 15%, rgba(244,247,249,0) 100%), url('./media/city.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.current_date {
  height: 38%;
  width: 100%;
}

.current_time {
  height: 24%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.13);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.current_stock {
  height: 38%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.date_display {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.date_info {
  width: auto;
  display: flex;
  justify-content: space-between;
  padding: 26px;
}

.stock_box {
  width: auto;
  padding: 26px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.bordered_box {
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 3px white;
  padding: 6px 16px;
  margin-left: 10px;
}

.header_box {
  background: linear-gradient(20deg, #b5637b, #cc9da3);
  border: 6px solid #a4656e;
}

.price_down_true {
  background: linear-gradient(20deg, #b5637b, #cc9da3);
  border: 6px solid #a4656e;
}

.price_down_false {
  background: linear-gradient(20deg, #777d70, #a6aba0);
  border: 6px solid #626e5f;
}

.weather_display {
  display: flex;
  align-items: center;
}

.header_alphabetic {
  margin-left: 10px;
  color: rgba(66, 66, 66, 0.685);
}